services:
  - type: web
    name: n8n
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DB_TYPE
        value: postgresdb
      - key: DATABASE_URL
        fromDatabase:
          name: n8n-db
          property: connectionString
databases:
  - name: n8n-db
    plan: free
    ipAllowList: []
